<a href="https://colab.research.google.com/github/akshat16206/AI_in_python/blob/main/coding_speaking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
print("happy learning")

happy learning

In [ ]:
print('all the best')

all the best

In [ ]:
print(12345678)

12345678

In [ ]:
print(138923675987256)

138923675987256

In [ ]:
print(1,2,3,4)

1 2 3 4

In [ ]:
print("all the best","hello world","my name is akshat gupta")

all the best hello world my name is akshat gupta

In [ ]:
print(12,"all the best")

12 all the best

In [ ]:
#this is the comment
print("hello world")

hello world

In [ ]:
#variables
x = 12
y = 45
print(x,y)

12 45

In [ ]:
#naming convention
#rule 1: allowed character : A-Z,a-z,0-9,_
#rule 2: name has to start with charatcter or (_)underscore
#rule 3: names are case sensitive
#rule 4; names cannot be a keyword

var1 = 14
print(var1)

14

In [ ]:
var1 = "hello" #string
print(var1)

hello

In [ ]:
var1 = 12.124 #float
print(var1)

12.124

In [ ]:
var1 = -112.34 #negative float
print(var1)

-112.34

In [ ]:
var1 = False #boolean
print(var1)

False

In [ ]:
var1 = "hello" #string
print(var1)
var2 = 12.124 #float
print(var2)
var3 = -112 #negative float
print(var3)
var4 = False #boolean
print(var4)

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

hello
12.124
-112
False
<class 'str'>
<class 'float'>
<class 'int'>
<class 'bool'>

In [ ]:
#strings: set of character inside double or single quototation mark

var1 = "happy learning"
print(var1[6:11])
print(var1[:5])
print(var1[6:])

learn
happy
learning

In [ ]:
print(var1[6::2]) #skips e,r,i,n,g and printed l a n n (increment by 2 index)

lann

In [ ]:
# operation on numbers :airthmetic
#+ add
#- sub
#* multi
#% modulus
#/ division
#// floor division : it gives divisior
#** exponential : 5**3 means 5 to the power 3 which is 125.

#number = quotoient * divisior + reminder


var1 = 5
var2 = 3
print(var1+var2)
print(var1-var2)
print(var1*var2)
print(var1/var2)
print(var1%var2)
print(var1//var2)
print(var1**var2)

8
2
15
1.6666666666666667
2
1
125

In [ ]:
-2 #uniary minus
x = 3
y = 10
z = x+y
print(z)

13

In [ ]:
#relational operator
# <
# >
# <=
# >=
# ==
# !=

var1 = 3
var2 = 3
print(var1<var2)
print(var1>var2)
print(var1<=var2)
print(var1>=var2)
print(var1==var2)
print(var1!=var2)

False
False
True
True
True
False

In [ ]:
#logical operator
#not(!) : negation
#and(&&) : logical conjunction
#or(||) : logical disjunction
x = True
x = False
print(x and y)
print(x or y)
print(not x)

False
10
True

In [ ]:
var1 = "happy learning"
print(var1[-8:-3])

learn

In [ ]:
var1 = "python programming"
print(var1[-13:-18:-1]) #getting the reverse of the string
#so here you are starting at -13 and going till -18 in the direction of -1 which is reversed

nohty

In [ ]:
var2 = "happy learning"
print(var2[1:5])
print(var2[:-5])
print(var2[::2])
print(var2[-1:-9:-1])

appy
happy lea
hpylann
gninrael

In [ ]:
#list : it is a collection , which are ordered , changable and allows duplicates
var1 = [1,2.2,-3,"hi",True]
print(type(var1[0]))
print(type(var1[1]))
print(type(var1[2]))
print(type(var1[3]))
print(type(var1[4]))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'str'>
<class 'bool'>

In [ ]:
var1 = [1,2.2,-3,"hi",True]
print(var1)
print(type(var1))

[1, 2.2, -3, 'hi', True]
<class 'list'>

In [ ]:
var1 = [12,32,4,56]
print(var1)
print(var1[2])
var1[2] = 100
print(var1[2])
print(var1)

[12, 32, 4, 56]
4
100
[12, 32, 100, 56]

In [ ]:
#append  to add a new element at the last of the list

var1 = [12,14,16,20]
print(var1)
var1.append(100)
print(var1)

[12, 14, 16, 20]
[12, 14, 16, 20, 100]

In [ ]:
#insert : to insert a element at the fixed index in the list
var1 = [12,13,14,15]
print(var1)
var1.insert(2,1000) # (index,element)
print(var1)

[12, 13, 14, 15]
[12, 13, 1000, 14, 15]

In [ ]:
#removing the element from the list
# removes: removes the first occurence of the list
var1 = [12,13,14,15]
print(var1)
var1.remove(13) # the first occurence of 13 is at index 1
print(var1)

[12, 13, 14, 15]
[12, 14, 15]

In [ ]:
# remove the element using its index

var1 = [12,13,14,15]
print(var1)
var1.pop(2) # removes the element at index 1
print(var1)

[12, 13, 14, 15]
[12, 13, 15]

In [ ]:
#loops
#for loops
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for j in range(12,16):
  print("hi",j)
  print(j-1)
print("loop done")

hi 12
11
hi 13
12
hi 14
13
hi 15
14
loop done

In [ ]:
var1 = ['apple','banana','grapes']
for i in var1:
  print("today i ate ",i)

today i ate  apple
today i ate  banana
today i ate  grapes

In [ ]:
#while loop: repeat till the condition is satisfied

i = 1
while i<=10:
  print(i)
  i += 1
print("loop done")

1
2
3
4
5
6
7
8
9
10
loop done

In [ ]:
#if else statement
sugar_level = 100
if sugar_level>120:
  print("sugar level is high")
else:
    print("sugar level is normal")

sugar level is noemal

In [ ]:
#given the list of 5 people sugar level print the index and tell who all are having high sugar level
sugar_level_list = [20,130,140,112,120]
for i in range(len(sugar_level_list)): #here len is used for cal length of list
  if sugar_level_list[i]>120:
    print(i)
    print("sugar lever is high")
  else:
    print(i)
    print("sugar level is normal")

0
sugar level is normal
1
sugar lever is high
2
sugar lever is high
3
sugar level is normal
4
sugar level is normal

In [ ]:
 #if -elif -else statement
 var1 = 234
 if var1%2==0:
  print("var1 is multiple of 2")
 elif var1%3==0:
  print("var1 is multiple of 3")
 elif var1%5==0 :
  print("var1 is multiple of 5")
 elif var1%7==0:
  print("var1 is multiple of 7")
 elif var1%11==0 :
  print("var1 is multiple of 11")
 else:
  print("var1 is not a multiple of 2,3,5,7")

var1 is multiple of 2